<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品后台管理系统</title>
    <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jqgrid/trirand/ui.jqgrid-bootstrap.css' %}">
    <script src="{% static 'boot/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'boot/js/bootstrap.min.js' %}"></script>

    <!--发送按钮倒计时代码-->
    <script type="text/javascript">


        var countdown = 60;

        function settime(obj) {
            if (countdown == 0) {
                obj.removeAttribute("disabled");
                obj.value = "免费获取验证码";
                countdown = 60;
                return;
            } else {
                obj.setAttribute("disabled", true);
                obj.value = "重新发送(" + countdown + ")";
                countdown--;
            }
            setTimeout(function () {
                    settime(obj)
                }
                , 1000)
        }

        $(function () {
            // 根据用户输入的手机号发送验证码
            $("#forcode").click(function () {

                // 向后台发送ajax请求获取验证码
                $.ajax({
                    url: "/login/get_code/",
                    type: "post",
                    data:{
                        mobile: $("#mobile").val()
                    },
                    success: function (data) {
                        console.log(data);
                        if(data==='ok'){
                            alert('验证码发送成功，请注意查收')
                        }else if(data==='middle'){
                            alert('手机号格式不正确，请重新输入')
                        }else{
                            alert('请勿重复发送验证码，或60秒后再次发送验证码')
                        }
                    }
                });

            })
        })


        $(function () {
            $('#loginButtonId').click(function () {

                $.ajax(
                    {
                        url:"/login/verify/",
                        type:'post',
                        data:{
                            code:$('#basic-url').val(),
                            mobile: $("#mobile").val()
                        },
                        success:function (data) {
                            if (data==='ok'){
                                location.href="http://127.0.0.1:8000/index/page/"
                            }else{
                                alert('验证码错误')
                            }

                        }
                    }

                )
            })


        })
    </script>

</head>


<body>

<!--手机号码输入框代码-->
<div class="container">
    <div class="form-group">
        <div class="col-lg-10">
            <form id="loginForm" role="form" action="" method="post" class="form-horizontal">

                <label for="mobile" class="">手机号码:</label>
                <div class="input-group m-bot15">
                    <input type="text" class="form-control" required id="mobile" name="mobile" placeholder="手机号码">
                    <span class="input-group-btn">
                         <input type="button" id="forcode" onclick="settime(this)" value="免费获取验证码"
                                class="btn btn-success">
                        </span>
                </div>
                <span id="msgDiv"></span>
                <p class="help-block">请填写绑定手机号</p>

                <label for="basic-url" class="">验证码：</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="basic-url" required name="code">
                </div>
                <p class="help-block"></p>
                <div class="input-group">
                    <input class="btn btn-success" type="button" id="loginButtonId" value="登录">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>